# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives: 

1. Languages for Data Science
2. Libraries for Data Science
3. Data Science Tools
4. Airthmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Keras
4. Matplotlib
5. Tensorflow

| Data | Science  | Tools |
| -----|:---------:| -----: |
| IBM SPSS | Apache Spark | MATLAB     |
| Excel    |Jupyter       | Matplotlib |

### Below are a few examples of evaluating arithmetic expressions in Python
1. +
2. -
3. *
4. / 
5. %

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Archana Tomar